* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.faq {
    width: 100%;
}
.faq-table {
    margin-top: 180px;
    margin-left: 72px;
    display: flex;
    gap: 200px;
}
.faq-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #020C31;
}
.faq-item {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #676D83;
}
.faq-img {
    margin-left: 40px;
    margin-top: 80px;
    position: absolute;
}
.faqs {
    display: flex;
    position: relative;

}
.faq-data {
    width: 456px;
    height: 384px;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin-left: 72px;
    margin-top: 120px;

}
.faq-title2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    width: 300px;
    margin-left: 24px;
    margin-top: 28px;
}
.faq-name {
    width: 408px;
    height: 48px;
    color: darkgray;
    margin-left: 24px;
    margin-top: 36px;
}
.faq-number {
    width: 408px;
    height: 48px;
    color: darkgray;
    margin-left: 24px;
}
.faq-btn {
    width: 408px;
    height: 48px;
    background-color: black;
    border-radius: 8px;
    color:#FFFFFF;
    margin-left: 24px;
    margin-top: 20px;
}
.faq-btn:hover {
    cursor: pointer;
    border: 3px solid black;
    background-color: #FFFFFF;
    color: black;
}
.faq-text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 300px;
    color: #FAFAFA;
    margin-left: 200px;
    margin-top: 150px;
}
.faq-img2 {
    width: 461px;
    height: 437px;
    margin-left: 350px;
    margin-top: -132px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    gap: 10px;
  }
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }